:root {
    --primary: #690202;
    --secondary: white;
}

html {
    scroll-behavior: smooth;
}

.card {
    border: 3px solid var(--primary);
}
.card img {
    height: 200px;
    object-fit: cover;
}

.hero-banner img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}